/* reset */

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 /* /reset */


/* selettori comuni */
 .container{
    width: 0 auto;
    padding: 30px 100px;
 }

 .clearfix::after {
    content: '';
    display: block;
    clear: both;
 }
 /* /attributi comuni */

 /* header con titolo e paragrafo */
 header{
    font-family: 'Fredoka', sans-serif;
    text-align: center;
 }

h1{
    margin-bottom: 40px;
    color: #e53170;
}
/* /header con titolo e paragrafo */


/* box */
.box{
    font-family: 'Fredoka', sans-serif;
}
/* dimensine base del box */
.team > .box {
    /* height: 80px; */
    width: calc(100%/3 - 20px);
    background-color: #0f0e17;
    color: white;
    float: left;
    margin: 20px 10px;   
}
/* /dimensine base del box */

/* dimensione immagine */
.img-persona{
    float: left;
    width: 100px;
}

.img-persona img{
    width: 100%;
    display: block;
}
/* /dimensione immagine */

/* spazio per i dati delle persone */
.info-persona{
    float:right;
    width: calc(100% - 100px);
    padding: 10px;
}
/* /spazio per i dati delle persone */

/* dettagli font dell info persone */

.info-persona h3{
    font-weight: 600;
}

.info-persona > p,a{
    font-size: 14px;
}

.info-persona a{
    color: #17ccf2;
    text-decoration: none;
}

.info-persona > h3,p,a{
    margin: 5px;
}

/* /dettagli font dell info persone */

/* /box */